In [7]:
import sys
sys.path.append("..")

In [8]:
import pandas as pd  # type: ignore
from sklearn.metrics import r2_score  # type: ignore
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split  # type: ignore
from tensorflow.keras.layers import Dense  # type: ignore
from tensorflow.keras.models import Sequential  # type: ignore

from rocketml.pipeline import Pipeline
from rocketml.pre_process import PreProcessing

In [9]:
df = pd.read_csv("../data/train.csv")

data_columns = [
    "warehouse",
    "date",
    "holiday_name",
    "holiday",
    "shops_closed",
    "winter_school_holidays",
    "school_holidays",
    "id",
    "orders",
]

feature_columns = [
    "warehouse",
    "date",
    "holiday_name",
    "holiday",
    "shops_closed",
    "winter_school_holidays",
    "school_holidays",
    "id",
]

target_columns = ["orders"]

df = df[data_columns]

pp = PreProcessing()

steps = [
    (pp.drop_columns, {"columns": ["id", "date"]}),
    (pp.encode_holiday_name, {"column_name": "holiday_name"}),
    (pp.create_dummies, {"column_name": "warehouse"}),
    (pp.replace_bool, {"values": {True: 1, False: 0}}),
]

pipe = Pipeline()
df_processed = pipe.preprocess_pipeline(df=df, steps=steps)

In [10]:
df_processed

,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,orders,warehouse_Brno_1,warehouse_Budapest_1,warehouse_Frankfurt_1,warehouse_Munich_1,warehouse_Prague_1,warehouse_Prague_2,warehouse_Prague_3
0,0,0,0,0,0,6895.0,0,0,0,0,1,0,0
1,0,0,0,0,0,6584.0,0,0,0,0,1,0,0
2,0,0,0,0,0,7030.0,0,0,0,0,1,0,0
3,0,0,0,0,0,6550.0,0,0,0,0,1,0,0
4,0,0,0,0,0,6910.0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7335,0,0,0,0,0,6733.0,0,1,0,0,0,0,0
7336,0,0,0,0,0,6492.0,0,1,0,0,0,0,0
7337,0,0,0,0,0,6661.0,0,1,0,0,0,0,0
7338,0,0,0,0,0,6843.0,0,1,0,0,0,0,0
7339,0,0,0,0,0,8130.0,0,1,0,0,0,0,0