In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas as pd  # type: ignore
from sklearn.metrics import r2_score  # type: ignore
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split  # type: ignore
from tensorflow.keras.layers import Dense  # type: ignore
from tensorflow.keras.models import Sequential  # type: ignore

from rocketml.pipeline import Pipeline
from rocketml.pre_process import PreProcessing

In [5]:
df = pd.read_csv("../data/train.csv")

data_columns = [
    "warehouse",
    "date",
    "holiday_name",
    "holiday",
    "shops_closed",
    "winter_school_holidays",
    "school_holidays",
    "id",
    "orders",
]

feature_columns = [
    "warehouse",
    "date",
    "holiday_name",
    "holiday",
    "shops_closed",
    "winter_school_holidays",
    "school_holidays",
    "id",
]

target_columns = ["orders"]

df = df[data_columns]

# pp = PreProcessing()

# steps = [
#     (pp.drop_columns, {"columns": ["id", "date"]}),
#     (pp.encode_holiday_name, {"column_name": "holiday_name"}),
#     (pp.create_dummies, {"column_name": "warehouse"}),
#     (pp.replace_bool, {"values": {True: 1, False: 0}}),
# ]

# pipe = Pipeline()
# df_processed = pipe.preprocess_pipeline(df=df, steps=steps)

In [6]:
df

,warehouse,date,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,id,orders
0,Prague_1,2020-12-05,NaN,0,0,0,0,Prague_1_2020-12-05,6895.0
1,Prague_1,2020-12-06,NaN,0,0,0,0,Prague_1_2020-12-06,6584.0
2,Prague_1,2020-12-07,NaN,0,0,0,0,Prague_1_2020-12-07,7030.0
3,Prague_1,2020-12-08,NaN,0,0,0,0,Prague_1_2020-12-08,6550.0
4,Prague_1,2020-12-09,NaN,0,0,0,0,Prague_1_2020-12-09,6910.0
...,...,...,...,...,...,...,...,...,...
7335,Budapest_1,2024-03-10,NaN,0,0,0,0,Budapest_1_2024-03-10,6733.0
7336,Budapest_1,2024-03-11,NaN,0,0,0,0,Budapest_1_2024-03-11,6492.0
7337,Budapest_1,2024-03-12,NaN,0,0,0,0,Budapest_1_2024-03-12,6661.0
7338,Budapest_1,2024-03-13,NaN,0,0,0,0,Budapest_1_2024-03-13,6843.0
7339,Budapest_1,2024-03-14,NaN,0,0,0,0,Budapest_1_2024-03-14,8130.0

In [8]:
df.warehouse.unique()

array(['Prague_1', 'Brno_1', 'Prague_2', 'Prague_3', 'Munich_1',
       'Frankfurt_1', 'Budapest_1'], dtype=object)

In [12]:
warehouse_map = {
    "Brno_1": 1, 
    "Prague_1": 2, 
    "Prague_2": 3, 
    "Prague_3": 4, 
    "Budapest_1": 5, 
    "Munich_1": 6, 
    "Frankfurt_1": 7
}

In [13]:
df.warehouse.value_counts()

warehouse
Prague_1       1193
Brno_1         1193
Prague_2       1193
Prague_3       1193
Budapest_1     1154
Munich_1        785
Frankfurt_1     629
Name: count, dtype: int64

In [15]:
df["warehouse"] = df["warehouse"].replace(warehouse_map)